<div class="wsmenucontainer clearfix">
<div class="wrapper">
   <div class="wsmenuexpandermain slideRight"><a id="navToggle" class="animated-arrow slideLeft" href="#">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <i class="fa fa-times" aria-hidden="true"></i>
      <b>Menu</b></a>
   </div>
   <div class="homesection">
      <div class="headersection">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-6 logo">
                  <a href="index.html">
                    <%= image_tag('the-black-wall-street.png') %>
                  </a>
               </div>
               <div class="col-lg-9 col-md-6">
                  <div class="top-info">
                     <div class="signinup"><a href="login.html"><i class="fa fa-sign-in" aria-hidden="true"></i>
                        SIGN UP  /  LOGIN</a>
                     </div>
                     <nav class="wsmenu slideLeft clearfix">
                        <ul class="mobile-sub wsmenu-list">
                           <li><a href="index.html">Home<span class="brd"></span></a></li>
                           <li><a href="#">TBWS Team<span class="brd"></span></a></li>
                           <li><a href="Community.html">Community<span class="brd"></span></a></li>
                           <li><a href="education.html">Education<span class="brd"></span></a></li>
                           <li class="lastchild"><a href="contact-us.html">Contact us<span class="brd"></span></a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- slider -->
      <div class="mainbanner">
         <header>
         <div class="owl-carousel owl-theme owl-carousel-banner">
            <div class="item">
               <%= image_tag('banners/1.jpg', alt: "the black wall street") %>
            </div>
            <div class="item">
               <%= image_tag('banners/2.jpg', alt: "the black wall street") %>
            </div>
            <div class="item">
               <%= image_tag('banners/3.jpg', alt: "the black wall street") %>
            </div>
            <div class="item">
               <%= image_tag('banners/4.jpg', alt: "the black wall street") %>
            </div>
            <div class="item">
               <%= image_tag('banners/5.jpg', alt: "the black wall street") %>
            </div>
         </div>
      </div>
      <div class="bannercontent">
         <div class="container-fluid d-flex h-100">
            <div class="row justify-content-center align-self-center">
               <div class="col-md-12">
                  <h5 class="wow fadeInDown" data-wow-duration="1700ms"><span class="bg-grey colre">Black Cash Matters</span></h5>
                  <h1 class="wow fadeInDown" data-wow-duration="1700ms">Build Wealth. <br>Build Self.<br>
                     Build Community.
                  </h1>
                  <h4 class="wow fadeInUp" data-wow-duration="1700ms">You cant be free if the cost of being you is too high.</h4>
                  <div class="bannerform mt-4">
                     <input value="" placeholder="Email Address">
                     <button>Get Started</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>